@import 'normalize';
@import 'skeleton';

// COLORS

$black: rgb(12, 12, 14);
$blackAlt: rgb(45, 48, 52);
$brown: rgb(108, 109, 109);
$brownAlt: rgb(136, 128, 120);
$orange: rgb(214, 167, 131);
$orangeAlt: rgb(226, 229, 202);
$white: rgb(255, 255, 255);
$whiteAlt: rgb(240, 241, 234);
$teal: rgb(25, 115, 150);
$tealAlt: rgb(77, 188, 208);
$blue: rgb(28, 106, 162);
$blueAlt: rgb(71, 133, 197);
$green: rgb(0, 191, 140);
$greenAlt: rgb(69, 204, 156);
$pastelGreen: rgb(144, 212, 182);
$pastelGreenAlt: rgb(219, 235, 234);
$yellow: rgb(255, 202, 4);

// TYPE

@font-face {
  font-family: avenir;
  src: font-url('AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
  font-family: engravers;
  src: font-url('EngravrsRomanBdBT-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: walsheim;
  src: font-url('GTWalsheim-Medium.woff') format('woff');
}

@font-face {
  font-family: idlewild;
  src: font-url('Idlewild-Medium.woff') format('woff');
}

// STYLES

h1 {
  font: 40px/60px walsheim;
  color: $white;

  @media (min-width: 550px) and (min-height: 667px)  {
    font: 60px/80px walsheim;
  }
}

h2 {
  font: 27px/40px engravers;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 10px;
  margin-top: 100px;
  margin-left: 18px; // manually correct trailing artifact

  @media (min-width: 550px) and (min-height: 667px)  {
    font: 48px/50px engravers;
    letter-spacing: 20px;
  }
}

hr {
  width: 240px;
  height: 20px;
  margin-top: 100px;
  margin-bottom: 0px;
  border: none;
  background-color: $orange;
}

.jumbo {
  font: 21px/30px walsheim;
  margin-top: 33px;
  margin-bottom: 33px;
  text-align: center;

  @media (min-width: 667px) {
    text-align: justify;
  }

  @media (min-width: 380px) {
    font: 27px/40px walsheim;
  }

  @media (min-width: 900px) and (min-height: 720px)  {
    font: 48px/60px walsheim;
  }
}

.button {
  font: 27px/40px walsheim;
  width: 240px;
  height: 40px;
  border-radius: 40px;
  color: $black;
  background-color: $yellow;
  border: none;
  text-transform: none;
  text-align: center;
  letter-spacing: -1px;

  @media (min-width: 550px) and (min-height: 667px)  {
    font: 48px/80px walsheim;
    letter-spacing: -3px;
    width: 380px;
    height: 80px;
  }
}

.box {
  margin-bottom: 33px;
}

@mixin vhcenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.vcenter {
  @include vcenter();
}

nav.primary {
  position: fixed;
  width: 100%;
  z-index: 2;
  margin-top: 40px;

  .logo {
    width: 60px;
    height: 60px;
    background: image-url('logo.svg') no-repeat center center;
    float: left;
  }

  ul {
    float: right;
    list-style-type: none;
    text-align: right;

    li {
      margin: 19px 0px 0px 48px;

      @media (min-width: 500px) {
        display: inline-block;
      }

      &.language {
        margin-bottom: 10px;

        @media (min-width: 500px) {
          margin-bottom: 0px;
        }

        a:before {
          content: "";
          display: inline-block;
          position: relative;
          top: 4px;
          left: -10px;
          width: 16px;
          height: 20px;
          background: image-url("globe.svg") no-repeat center center;
        }

        a:after{
          content: "";
          display: inline-block;
          position: relative;
          top: -3px;
          width: 7px;
          height: 4px;
          background: image-url("select-arrow.svg") no-repeat center center;
          margin-left: 6px;
        }
      }

      a {
        font: 16px/22px avenir;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
      }
    }
  }

}

ul.paging {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  right: 20px;
  list-style-type: none;

  @media (min-width: 1210px) {
    right: 48px;
  }

  li {
    cursor: pointer;
    border-radius: 50%;
    border-color: $brownAlt;
    border-width: 1px;
    border-style: solid;
    width: 8px;
    height: 8px;

    &.active {
      background-color: $brownAlt;
    }
  }
}

div.hero, div.global, div.clients, div.aligned-incentives, div.technology-enabled, div.iaas,
div.talent-engagement, div.studio, div.assessment-tools, div.testimonials, div.join {
  position: relative;
  min-height: 667px;

  @media (min-width: 667px) {
    height: 100vh;
  }
}

div.hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.20) 60%, rgba(0, 0, 0, 0.65) 100%), image-url('bg/hero.jpg') center center / cover;
  background-color: $black;
  text-align: center;

  h1 {
    font: 40px/60px walsheim;
    background-color: $blue;
    display: inline-block;
    padding: 10px 20px 22px 20px;

    @media (min-width: 800px) and (min-height: 667px) {
      font: 60px/80px walsheim;
    }
  }

  p {
    font: 27px/40px walsheim;
    color: $white;
    margin: 75px 0px 0px 0px;

    @media (min-width: 800px) and (min-height: 667px)  {
      font: 48px/60px walsheim;
    }
  }

  .container.heading {
    @include vhcenter();
  }

  .container.sub {
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
  }

}

div.global {
  background: image-url('bg/global.jpg') center center / cover;
  overflow: hidden;

  .countries ul li {
    display: none;
    font: 27px/40px engravers;
    text-align: right;
    list-style-type: none;
    opacity: 0.3;

    @media (min-width: 550px) {
      opacity: 1.0;
      display: block;
    }

    @media (min-height: 800px) {
      font: 36px/60px engravers;
    }
  }

  .jumbo {
    font: 40px/60px walsheim;
    color: $teal;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;

    @media (min-width: 667px)  {
      font: 60px/80px walsheim;
    }
  }

    .container {
      @include vhcenter();
    }

}

div.clients {
  background: image-url('bg/clients.jpg') center center / cover;
  text-align: center;
  color: $white;

  .client-grid {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    width: 100%;
    font: 10px/25px idlewild;

    .first.row {
      margin-bottom: 0px;
    }

    .second.row {
      margin-top: 0px;
    }

    @media (min-width: 550px) {
      position: absolute;
      bottom: 0;

      .first.row {
        margin-bottom: 17px;
      }
      .second.row {
        margin-top: 22px;
      }
    }

    @media (min-width: 820px) {
      font: 14px/30px idlewild;
    }

    @media (min-width: 1000px) {
      font: 18px/40px idlewild;
    }

    .box {
      border: 8px solid $brown;
      margin: 48px;
    }

    .row {
      margin-top: 22px;
      margin-bottom: 17px;
    }
  }
}

div.aligned-incentives {
  background: image-url('bg/aligned-incentives.jpg') center center / cover;
  color: $white;

  hr {
    background-color: $black;
  }
}

div.technology-enabled {
  background: image-url('bg/technology-enabled.jpg') center center / cover;
  color: $white;

  hr {
    background-color: $teal;
  }

  .box {
    background-color: rgba(0, 13, 31, 0.7);
  }
}

div.iaas {
  background: image-url('bg/iaas.jpg') center center / cover;
  color: $black;

  hr {
    background-color: $yellow;
  }

  .box {
    background: image-url('patterns/waves.png') center center / cover;
  }
}

div.talent-engagement {
  background: image-url('bg/talent-engagement.jpg') center center / cover;
  color: $white;

  hr {
    background-color: $greenAlt;
  }

  .box {
    background-color: rgba(0, 81, 58, 0.7);
  }
}

div.studio {
  background: image-url('bg/studio.jpg') center center / cover;
  color: $black;

  hr {
    background-color: $tealAlt;
  }
}

div.assessment-tools {
  background: image-url('bg/assessment-tools.jpg') center center / cover;
  color: $white;

  hr {
    background-color: $greenAlt;
  }
}

div.testimonials {
  min-height: 0;

  .quotor {
    font: 21px/30px walsheim;

    @media (min-width: 667px) {
      font: 27px/35px walsheim;
    }

    @media (min-width: 900px) and (min-height: 720px)  {
      font: 36px/40px walsheim;
    }
  }

  .quote {
    font: 27px/40px walsheim;
    color: $white;

    @media (min-width: 800px) {
      font: 40px/60px walsheim;
    }

    @media (min-width: 900px) and (min-height: 720px)  {
      font: 50px/75px walsheim;
    }
  }

  .olson, .huang {
    position: relative;
  }

  .container {
    padding-top: 33px;
    padding-bottom: 33px;
  }

  @media (min-width: 550px) {
    .container {
      @include vhcenter();
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .olson {
    background: image-url('bg/olson.jpg') center center / cover;
    min-height: 333px;

    @media (min-width: 550px) {
      height: 50vh;
    }

    .quotor {
      margin-bottom: 20px;

      @media (min-width: 550px) {
        margin-bottom: 0px;
      }

      span {
        background-color: $tealAlt;
        color: $white;
        display: inline-block;
        margin-bottom: 5px;
      }
    }
  }

  .huang {
    background: image-url('bg/huang.jpg') center center / cover;
    min-height: 333px;

    @media (min-width: 550px) {
      height: 50vh;
    }

    .quotor {
      text-align: right;
      margin-top: 20px;

      @media (min-width: 550px) {
        margin-top: 0px;
      }

      span {
        background-color: $greenAlt;
        color: $white;
        display: inline-block;
        margin-bottom: 5px;
      }
    }
  }

}

div.join {
  background: image-url('bg/join.jpg') center center / cover;
  text-align: center;

  @media (min-width: 550px) {
    .container {
      @include vhcenter();
    }
  }

  h1 {
    margin-bottom: 40px;
    margin-top: 150px;

    @media (min-width: 550px) {
      margin-bottom: 80px;
      margin-top: 0px;
    }
  }

  .company, .talent {
    margin: 10px;
  }

  .talent {
    background-color: $greenAlt;
  }

  .footer {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;

    @media (min-width: 550px) {
      height: 150px;
    }

    a {
      color: $pastelGreenAlt;
      opacity: 0.5;
      font: 14px/20px avenir;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-decoration: none;
      margin-bottom: 10px;
      display: inline-block;

      @media (min-width: 550px) {
        font: 18px/25px avenir;
      }
    }

    .copyright {
      margin-top: 40px;
      font: 8px/10px idlewild;
      color: $white;
      opacity: 0.5;
    }
  }
}

