@import 'normalize';
@import 'skeleton';

// COLORS

$black: rgb(12, 12, 14);
$blackAlt: rgb(45, 48, 52);
$brown: rgb(108, 109, 109);
$brownAlt: rgb(136, 128, 120);
$orange: rgb(214, 167, 131);
$orangeAlt: rgb(226, 229, 202);
$white: rgb(255, 255, 255);
$whiteAlt: rgb(240, 241, 234);
$teal: rgb(25, 115, 150);
$tealAlt: rgb(77, 188, 208);
$blue: rgb(28, 106, 162);
$blueAlt: rgb(71, 133, 197);
$green: rgb(0, 191, 140);
$greenAlt: rgb(69, 204, 156);
$pastelGreen: rgb(144, 212, 182);
$pastelGreenAlt: rgb(219, 235, 234);

// TYPE

@font-face {
  font-family: avenir;
  src: font-url('AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
  font-family: engravers;
  src: font-url('EngravrsRomanBdBT-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: walsheim;
  src: font-url('GTWalsheim-Medium.woff') format('woff');
}

@font-face {
  font-family: idlewild;
  src: font-url('Idlewild-Medium.woff') format('woff');
}

// STYLES

.jumbo {
  font: 48px/60px walsheim;
}

h2 {
  font: 48px/50px engravers;
  text-transform: lowercase;
  letter-spacing: 20px;
  margin-top: 200px;
}

hr {
  width: 240px;
  height: 20px;
  margin-top: 100px;
  margin-bottom: 33px;
  border: none;
  background-color: $orange;
}

.vhcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

nav.primary {
  position: fixed;
  width: 100%;
  z-index: 2;
  margin-top: 40px;

  .logo {
    width: 60px;
    height: 60px;
    background: image-url('logo.svg') no-repeat center center;
  }

}

.hero, .global, .clients {
  position: relative;
  height: 100vh;
}

.hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.20) 60%, rgba(0, 0, 0, 0.65) 100%), image-url('bg/hero.jpg') center center / cover;
  background-color: $black;
  text-align: center;

  h1 {
    font: 60px/80px walsheim;
    color: $white;
    background-color: $blue;
    display: inline-block;
    padding: 10px 20px 22px 20px;
  }

  p {
    font: 48px/60px walsheim;
    color: $white;
    margin: 75px 0px 0px 0px;
  }

  .container {
    @extend .vhcenter;
  }

}

.global {
  background: image-url('bg/global.jpg') center center / cover;

  .countries ul li {
    font: 36px/60px engravers;
    text-align: right;
    list-style-type: none;
  }

  .jumbo {
    font: 60px/80px walsheim;
    color: $teal;
  }

  .container {
    @extend .vhcenter;
  }

}

.clients {
  background: image-url('bg/clients.jpg') center center / cover;
  text-align: center;
  color: $white;

  .client-grid {
    width: 100%;
    position: absolute;
    bottom: 0;
    font: 18px/40px idlewild;

    .box {
      border: 8px solid $brown;
      margin: 48px;

      &:before {
        content: " ";
        position: absolute;
        //z-index: 1;
        top: 68px;
        left: 68px;
        right: 68px;
        bottom: 68px;
        border: 2px solid $brown;
      }
    }

    .row {
      margin-top: 22px;
      margin-bottom: 17px;
    }
  }
}
