
<nav class="primary">
  <div class="container">
    <div class="logo"></div>
  </div>
</nav>

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="eight offset-by-two columns">
        <h1>Untapped Talent</h1>
        <p>How T3 is pioneering a new approach to hiring</p>
      </div>
    </div>
  </div>
</div>

<div class="global">
  <div class="container">
    <div class="row">
      <div class="countries four columns">
        <ul>
          <li>united states</li>
          <li>mexico</li>
          <li>canada</li>
          <li>australia</li>
          <li>singapore</li>
          <li>new zealand</li>
          <li>chile</li>
          <li>china</li>
          <li>russia</li>
          <li>india</li>
        </ul>
      </div>
      <div class="jumbo seven offset-by-one columns">
        <div class="vcenter">
          T3 hires untapped talent from a global pool of thoroughly vetted candidates.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clients">
  <div class="container">
    <div class="row">
      <div class="copy ten offset-by-one columns">
        <h2>clients</h2>
        <hr />
        <div class="jumbo">
          As a trusted peer and partner, we build long-term hiring solutions, at scale.
        </div>
      </div>
    </div>
  </div>
  <div class="client-grid">
    <div class="box">
      <div class="container">
        <div class="first row">
          <div class="three columns">Uber</div>
          <div class="three columns">Nvidia</div>
          <div class="three columns">Tile</div>
          <div class="three columns">Cloudera</div>
        </div>
        <div class="second row">
          <div class="three columns">Topcoder</div>
          <div class="three columns">Affirm</div>
          <div class="three columns">Palerra</div>
          <div class="three columns">Datrium</div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="aligned-incentives">
  <div class="container">
    <div class="row">
      <div class="copy ten offset-by-one columns">
        <h2>aligned incentives</h2>
        <hr />
        <div class="jumbo">
          Instead of a per-placement commission, we charge a fixed monthly fee
          and often take equity, optimizing for long-term, mutually beneficial
          placements.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="technology-enabled">
  <div class="container">
    <div class="row">
      <div class="copy ten offset-by-one columns">
        <h2>technology-enabled</h2>
        <hr />
      </div>
    </div>
    <div class="box">
      <div class="row">
        <div class="jumbo ten offset-by-one columns">
          A custom-built technology stack optimizes our workflow, providing
          automation and information-management tools that help us and our
          clients.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="iaas">
  <div class="container">
    <div class="row">
      <div class="copy ten offset-by-one columns">
        <h2>interview as a service</h2>
        <hr />
      </div>
    </div>
    <div class="box">
      <div class="row">
        <div class="jumbo ten offset-by-one columns">
          Our rigorous interview process includes a comprehensive technical
          screening, plus on-site interviews with top engineers from Dropbox,
          Google, Facebook and Amazon.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="talent-engagement">
  <div class="container">
    <div class="row">
      <div class="copy ten offset-by-one columns">
        <h2>talent engagement</h2>
        <hr />
      </div>
    </div>
    <div class="box">
      <div class="row">
        <div class="jumbo ten offset-by-one columns">
          Our digital marketing team finds creative new ways to establish
          meaningful, long-term relationships with talent in a constantly
          changing digital landscape.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="studio">
  <div class="container">
    <div class="row">
      <div class="copy ten offset-by-one columns">
        <h2>studio</h2>
        <hr />
      </div>
    </div>
    <div class="box">
      <div class="row">
        <div class="jumbo ten offset-by-one columns">
          Attracting the best talent requires more than a job description. Our
          team of media specialists create digital experiences that tell
          compelling, carefully crafted narratives about our clients.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="assessment-tools">
  <div class="container">
    <div class="row">
      <div class="copy ten offset-by-one columns">
        <h2>assessment tools</h2>
        <hr />
      </div>
    </div>
    <div class="box">
      <div class="row">
        <div class="jumbo ten offset-by-one columns">
          We have built a suite of assessment tools that help CEOs and hiring
          teams conduct a quantitative analysis of their talent program,
          benchmark against peers, and identify areas for optimization.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="olson">
    <div class="container">
      <div class="row">
        <div class="quotor four columns">
          <span>Mike Olson</span><br />
          <span>Founder &amp; CEO</span><br />
          <span>Cloudera</span>
        </div>
        <div class="quote six offset-by-two columns">
          "T3 has done a tremendous job for us.
        </div>
      </div>
    </div>
  </div>
  <div class="huang">
    <div class="container">
      <div class="row">
        <div class="quote six columns">
          "T3's approach to talent recruiting is state-of-the-art and game changing.
        </div>
        <div class="quotor four offset-by-two columns">
          <span>Jen-Hsun Huang</span><br />
          <span>Founder &amp; CEO</span><br />
          <span>Nvidia</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="join">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>Join the family</h1>
        <div class="cta">
          <a href="#" class="company button">I want to Hire</a>
          <a href="#" class="talent button">I'm an Engineer</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
      <div class="container">
        <div class="row">
          <div class="four columns"><a href="#">FAQ</a></div>
          <div class="four columns"><a href="#">Legal</a></div>
          <div class="four columns"><a href="#">Learn More</a></div>
        </div>
        <div class="row">
          <div class="copyright twelve columns">
            &copy; Copyright 2015
          </div>
      </div>
  </div>
</div>

