
<nav class="primary">
  <div class="container">
    <div class="logo"></div>
  </div>
</nav>

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="eight offset-by-two columns">
        <h1>Untapped Talent</h1>
        <p>How T3 is pioneering a new approach to hiring</p>
      </div>
    </div>
  </div>
</div>

<div class="global">
  <div class="container">
    <div class="row">
      <div class="countries four columns">
        <ul>
          <li>united states</li>
          <li>mexico</li>
          <li>canada</li>
          <li>australia</li>
          <li>singapore</li>
          <li>new zealand</li>
          <li>chile</li>
          <li>china</li>
          <li>russia</li>
          <li>india</li>
        </ul>
      </div>
      <div class="jumbo seven offset-by-one columns">
        <div class="vcenter">
          T3 hires untapped talent from a global pool of thoroughly vetted candidates.
        </div>
      </div>
    </div>
  </div>
</div>

