
<nav class="primary">
  <div class="container">
    <div class="logo"></div>
  </div>
</nav>

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="eight offset-by-two columns">
        <h1>Untapped Talent</h1>
        <p>How T3 is pioneering a new approach to hiring</p>
      </div>
    </div>
  </div>
</div>

<div class="global">
  <div class="container">
    <div class="row">
      <div class="countries four columns">
        <ul>
          <li>united states</li>
          <li>mexico</li>
          <li>canada</li>
          <li>australia</li>
          <li>singapore</li>
          <li>new zealand</li>
          <li>chile</li>
          <li>china</li>
          <li>russia</li>
          <li>india</li>
        </ul>
      </div>
      <div class="jumbo seven offset-by-one columns">
        <div class="vcenter">
          T3 hires untapped talent from a global pool of thoroughly vetted candidates.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clients">
  <div class="container">
    <div class="row">
      <div class="copy ten offset-by-one columns">
        <h2>clients</h2>
        <hr />
        <div class="jumbo">
          As a trusted peer and partner, we build long-term hiring solutions, at scale.
        </div>
      </div>
    </div>
  </div>
  <div class="client-grid">
    <div class="box">
      <div class="container">
        <div class="row">
          <div class="three columns">Uber</div>
          <div class="three columns">Nvidia</div>
          <div class="three columns">Tile</div>
          <div class="three columns">Cloudera</div>
        </div>
        <div class="row">
          <div class="three columns">Topcoder</div>
          <div class="three columns">Affirm</div>
          <div class="three columns">Palerra</div>
          <div class="three columns">Datrium</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="aligned-incentives">
  <div class="container">
    <div class="row">
      <div class="copy ten offset-by-one columns">
        <h2>aligned incentives</h2>
        <hr />
        <div class="jumbo">
          Instead of a per-placement commission, we charge a fixed monthly fee and often take equity, optimizing for long-term, mutually beneficial placements.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="technology-enabled">
  <div class="container">
    <div class="row">
      <div class="copy ten offset-by-one columns">
        <h2>technology-enabled</h2>
        <hr />
      </div>
    </div>
    <div class="box">
      <div class="row">
        <div class="jumbo ten offset-by-one columns">
          A custom-built technology stack optimizes our workflow, providing automation and information-management tools that help us and our clients.
        </div>
      </div>
    </div>
  </div>
</div>

