
<nav class="primary">
  <div class="container">
    <div class="logo"></div>
  </div>
</nav>

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="eight offset-by-two columns">
        <h1>Untapped Talent</h1>
        <p>How T3 is pioneering a new approach to hiring</p>
      </div>
    </div>
  </div>
</div>

